* {
    margin: 0;
    padding: 0;
  }
  .container {
    width: 100%;
    height: 100vh;
    background-color: #fcfcfc;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  .navbar {
    height: 12%;
    display: flex;
    align-items: center;
    position: relative;
  }
  .navbar svg {
    margin-top: 40px;
    position: fixed;
  }
  
  nav {
    flex: 1;
    text-align: left;
  }
  nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    margin-right: 35px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    position: fixed;
    margin-left: 250px;
    z-index: 1;
  }
  #bag {
    color: #000000;
  }
  #bag::after {
    content: "8";
    width: 20px;
    width: 20px;
    padding: 5px 5px;
    background-color: #0c0c0c;
    font-size: 8px;
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: -7px;
    color: white;
  }
  nav ul li a:hover {
    color: #39db4a;
  }
  .left-nav {
    width: 200px;
    position: fixed;
    right: 15px;
    z-index: 5;
  }
  .left-nav i {
    margin-right: 15px;
    color: #000000;
  }
  .left-nav button i {
    color: white;
  }
  .left-nav button {
    margin-top: 40px;
    padding: 10px 10px;
    border-radius: 25px;
    text-align: left;
    border: none;
    font-size: 17px;
    color: white;
    background-color: #39db4a;
  }
  
  .hero {
    margin-top: 100px;
    width: 100%;
    height: 60vh;
    display: flex;
  }
  .hero .left {
    width: 40%;
    height: 100%;
    margin-top: 80px;
  }
  .hero .right {
    flex: 1;
    width: 60%;
    height: 100%;
  }
  .hero .left h1 {
    font-size: 55px;
    display: block;
    width: 90%;
  }
  .hero .left h1 span {
    color: #39db4a;
  }
  .hero .left p {
    margin-top: 25px;
  }
  .hero .left .btn-hero {
    margin-top: 30px;
    display: flex;
  }
  .hero .left .btn-hero button {
    border: none;
    font-weight: bold;
  }
  .hero .left .btn-hero button:first-child {
    border-radius: 25px;
    padding: 0px 20px;
    margin-right: 20px;
    width: 150px;
    background-color: #39db4a;
    color: white;
  }
  .hero .left .btn-hero button:last-child {
    width: 50px;
    font-size: 30px;
    border-radius: 50%;
    padding: 10px 10px;
    color: black;
    background-color: white;
    box-shadow: 1px 1px 40px rgb(219, 214, 214);
  }
  .right .image-container {
    width: 50%;
    height: 90%;
    background-color: #39db4a;
    border-radius: 50%;
    position: relative;
    top: 15px;
    right: -350px;
  }
  .image-container img {
    position: absolute;
    top: -69px;
    left: -50px;
  }
  .cards {
    position: relative;
    width: 100%;
    height: 70px;
    right: -140px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .image-left {
    padding: 10px 10px;
    width: 30%;
    background-color: #ffffff;
    position: relative;
    z-index: 5;
    border-radius: 15px;
    top: -25px;
    height: 60px;
    box-shadow: 1px 1px 40px rgb(219, 214, 214);
  }
  .image-right {
    padding: 10px 10px;
    width: 30%;
    background-color: #ffffff;
    position: relative;
    z-index: 5;
    height: 60px;
    border-radius: 15px;
    top: -25px;
    box-shadow: 1px 1px 40px rgb(219, 214, 214);
  }
  .image-left .cards nav {
    display: flex;
  }
  .spicy {
    background-color: #fbfbfb;
    display: inline-block;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 15px 15px 0px 15px;
    position: relative;
    top: -350px;
    right: -190px;
    box-shadow: 1px 1px 40px rgb(219, 214, 214);
  }
  .cards .image-left .inner-head i:nth-child(1),
  i:nth-child(2),
  i:nth-child(3) {
    color: gold;
  }
  .cards .image-left .inner-head i:nth-child(4),
  i:nth-child(5) {
    color: gray;
  }
  
  .cards .image-right .inner-head i:nth-child(1),
  i:nth-child(2),
  i:nth-child(3),
  i:nth-child(4) {
    color: gold;
  }
  
  i:nth-child(5) {
    color: gray;
  }
  
  .inner-container {
    width: 100%;
    height: 100vh;
    margin-top: 100px;
  }
  .catagories {
    width: 100%;
    height: 60vh;
  }
  .catagories {
    text-align: center;
    line-height: 45px;
  }
  .catagories p {
    color: #ff6868;
    font-size: 12px;
  }
  .catagories h2 {
    font-size: 40px;
  }
  .fav {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 220px;
    justify-content: space-evenly;
  }
  .first-fav {
    background-color: #fcfcfc;
    border-radius: 25px;
    box-shadow: 1px 1px 40px rgb(219, 214, 214);
  }
  .first-fav:hover,
  .serv-card:hover,
  .card:hover {
    box-shadow: -1px -1px 10px #39db4a;
  }
  .first-fav span {
    margin-top: 15px;
    padding-top: 10px;
    width: 50%;
    height: 110px;
    border-radius: 50%;
    background-color: #c1f1c6;
  }
  .first-fav article {
    margin-top: 10px;
    line-height: 30px;
  }
  .first-fav article h5 {
    font-size: 18px;
  }
  .first-fav article p {
    font-size: 14px;
    color: #555555;
  }
  
  .special {
    margin-top: 50px;
    width: 100%;
    height: 100vh;
  }
  .special header {
    width: 100%;
    height: 30vh;
    display: flex;
    margin-bottom: 40px;
  }
  
  .special header .left-text {
    width: 60%;
    height: 100%;
    line-height: 45px;
  }
  .special header .left-text p {
    font-size: 14px;
    color: #ff6868;
  }
  .special header .left-text h1 {
    display: inline-block;
    background-color: #fbfbfb;
    font-size: 60px;
    line-height: 50px;
    width: 70%;
  }
  .special header .right-text {
    flex-grow: 1;
    height: 100%;
    position: relative;
  }
  .center {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 110%;
    justify-content: center;
  }
  .wrapper {
    display: flex;
    grid-gap: 1em;
    overflow: hidden;
    width: 90%;
  }
  .wrapper > .inner {
    display: flex;
    grid-gap: 1em;
    transition: all 1s ease-in-out;
  }
  .wrapper > .inner >.card {
    width: calc(100%/3);
    border-radius: 30px;
    margin: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 10px;
    justify-content: space-around;
  }
  .wrapper > .inner>.card>i{
    float: right;
  } 
  .wrapper > .inner>.card>i:first-child {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #39db4a;
    color: #ffffff;
    width: 40px;
    height: 30px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 0px 20px 0px 40px;
    z-index: 54254; 
    transition: width 0.5s;
} 
.wrapper > .inner>.card>i:first-child:hover{
    text-align: right;
    width: 200px;
} 
  .card > img {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    display: block;
    width: 17.5em;
    transition: all 5s;
  }
  .card > img:hover{
    transform: rotate(360deg);
  }
  .btn-container {
    position: absolute;
    right: 0;
    bottom: 60px;
  }
  .btn-container button {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #39db4a;
    color: white;
    border: none;
    cursor: pointer;
  }
  .btn-container button:first-child {
    background-color: #efefef;
    color: #6e6e6e;
    margin-right: 25px;
  }
  .testmionals {
    width: 100%;
    margin-top: 80px;
    height: 70vh;
    display: flex;
    position: relative;
  }
  .testmionals .test-left {
    width: 120%;
    height: 100%;
  }
  .test-right {
    flex-grow: 50%;
    margin-left: 100px;
  }
  .testmionals .test-left .back-image {
    position: relative;
    width: 54%;
    height: 50%;
    background-color: #39db4a;
    border-radius: 50% 50% 15px 15px;
    margin: 30% auto;
  }
  
  .testmionals .test-left .back-image img {
    position: absolute;
    top: -202px;
  }
  
  .test-left button {
    position: absolute;
    font-size: 30px;
    left: 120px;
    top: 250px;
    z-index: 1;
    background-color: transparent;
    border: none;
    transform: rotate(-40deg);
  }
  
  .back-image button {
    position: absolute;
    font-size: 40px;
    border: none;
    background-color: transparent;
  }
  
  .back-image button:nth-child(2) {
    right: -200px;
    top: 70px;
    transform: rotate(90deg);
  }
  .test-right {
    box-sizing: border-box;
  }
  
  .test-right .test-top p:first-child {
    margin-top: 25px;
    font-size: 14px;
    color: #ff6868;
    line-height: 65px;
  }
  .test-right .test-top h2 {
    display: inline-block;
    width: 70%;
    font-size: 45px;
  }
  .test-right .test-top p:last-child {
    margin-top: 15px;
    display: inline-block;
    width: 53%;
  }
  .test-bottom {
    margin-top: 40px;
  }
  .customer-card {
    display: flex;
  }
  .cus-image {
    margin-right: 45px;
  }
  .cus-dec {
    line-height: 30px;
  }
  .cus-dec h4 {
    font-size: 20px;
  }
  .customer-card .cus-image img {
    border-radius: 50%;
    border: 3px solid white;
  }
  .customer-card .cus-image img:nth-child(2),
  .customer-card .cus-image img:nth-child(3) {
    margin-left: -25px;
  }
  .cus-dec div {
    color: #6e6e6e;
  }
  .cus-dec div i {
    color: gold;
    margin-right: 10px;
  }
  .cus-dec div i span {
    color: black;
  }
  
  .stor-serv {
    width: 100%;
    height: 82vh;
    display: flex;
  }
  .stor-serv-left {
    width: 50%;
    height: 100%;
  }
  .stor-serv-right {
    width: 50%;
    height: 100%;
    margin-left: 55px;
  }
  .stor-serv-left h5 {
    color: #ff6868;
    margin-bottom: 40px;
  }
  .stor-serv-left h1 {
    font-size: 50px;
    display: inline-block;
    width: 90%;
  }
  .stor-serv-left p {
    margin-top: 40px;
    font-size: 18px;
    line-height: 25px;
    color: #555555;
  }
  .stor-serv-left button {
    margin-top: 40px;
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    color: white;
    background-color: #39db4a;
    font-weight: bold;
  }
  .stor-serv-right {
    display: grid;
    grid-template-rows: 240px 240px;
    grid-template-columns: 250px 250px;
    grid-gap: 20px 30px;
  }
  .serv-card {
    background-color: #ffffff;
    border-radius: 30px;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    box-shadow: 1px 1px 40px rgb(219, 214, 214);
  }
  .serv-card h3 {
    margin-top: 10px;
    color: #39db4a;
  }
  .serv-card p {
    color: #6e6e6e;
    display: inline-block;
    width: 60%;
    margin-top: 10px;
  }
  
  footer {
    display: grid;
    grid-template-rows: 240px 240px;
    grid-template-columns: 260px 260px 260px 260px;
    width: 100%;
    height: 50vh;
    grid-gap: 20px 70px;
  }
  
  .fot P {
    margin-top: 20px;
    color: #6e6e6e;
    display: inline-block;
    width: 70%;
    font-size: 18px;
  }
  .fot ul {
    list-style: none;
    line-height: 40px;
    color: #6e6e6e;
  }
  .fot ul li:first-child {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
   
  }
  .fot ul li {
    font-size: 16px;
    cursor: pointer;
  }
  .fot ul li:hover{
    color: #39db4a;
  }
  .soi-btn {
    grid-column: 1;
    height: 50px;
  }
  .soi-btn button {
    border-radius: 50%;
    border: none;
    font-size: 20px;
    padding: 5px 5px;
    width: 50px;
    height: 50px;
    background-color: #edffef;
    color: #6e6e6e;
    cursor: pointer;
  }
  .soi-btn button:hover {
    background-color: #39db4a;
    color: white;
  }

  .top-chef{
    background-color: #fbfbfb;
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 0px 15px 15px 15px;
    position: relative;
    top: 200px;
    right: -190px;
    box-shadow: 1px 1px 40px rgb(219, 214, 214);
  }