* {
  margin: 0;
  padding: 0;
}

:root {
  --red: #f83434;
  --green: #5FE26C;
  --lite: #93dc9a;
  --textlite: white;
}

body {
  padding: 1%;
  overflow-x: hidden;
  box-sizing: border-box;
}

i:hover {
  font-size: large;
}

body>header {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--green);
}

h1 {
  font-size: 50px;
}

header>img {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
header>nav>form{
  width: 98%;
  position: relative;
  border:1px solid black;
  background-color: transparent;
border-radius: 20px;
padding: 4px;
margin: 5px 0;
}
header>nav>form i{
  position: absolute;
} 
header>nav>form input{
  width:  95%;
  border: none;
  background-color: transparent;
  border-radius: 20px;
  height: 100%;
}
header>nav>form input:focus{
  border: none;
  outline: none;

}
header>nav {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  background-color: var(--green);
  display: none;
}

nav>i:last-of-type {
  display: none;
}

.nav_items {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav_items li {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  border-bottom: 0.5px solid black;
  padding: 5px;
}

.nav_items li:hover {
  background-color: var(--lite);
}

header>nav a {
  text-decoration: none;
  color: black;
  margin-left: 60px;
  margin-right: 35px;
}

header>nav>a:hover {
  color: var(--green);
}

header>i {
  margin: 10px;
  color: black;

}

header>i:first-of-type {
  margin-left: 300px;
}

header>i:last-of-type:after {
  content: "8";
  width: 20px;
  width: 20px;
  padding: 5px 5px;
  background-color: var(--green);
  font-size: 8px;
  border-radius: 50%;
  position: relative;
  top: -10px;
  left: -7px;
  color: white;
}

header>button {
  width: 120px;
  padding: 10px 10px;
  border-radius: 25px;
  text-align: left;
  border: none;
  text-align: center;
  font-size: 17px;
  color: white;
  background-color: var(--green);

}

main section p:first-child:not(#home p) {
  color: var(--red);
  font-size: xx-large;
}

main>#home {
  width: 100%;
}

main>#home>.left-side {
  width: 100%;
  height: 100%;
}

main>#home>.left-side>h1 {
  font-size: 40px;
  display: block;
  width: 100%;
}

main>#home>.left-side>h1>span {
  color: var(--green);
}

main>#home>.left-side>p {}

main>#home>.left-side>button {
  margin: 30px 0;
  padding: 10px 20px;
  border: none;
  width: 120px;
  border-radius: 20px;
  background-color: var(--green);
  color: var(--textlite);
}

main>#home>.left-side>span {
  color: var(--textlite);
  margin: 40px;
  font-size: x-large;
  color: black;
}

main>#home>.left-side>span>i {
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 80%;
  box-shadow: 3px 5px 10px rgb(131, 131, 131);
}

main>#home>.right-side {
  width: 100%;
  margin-top: 50px;
}

main>#home>.right-side>.imground {
  width: 100%;
  height: 400px;
  background-color: #39db4a;
  border-radius: 80% 80% 65% 80%;
}

main>#home>.right-side>.imground>img {
  width: 100%;
  height: 500px;
  z-index: 1;
  bottom: -30px;
  position: absolute;
}

main>#home>.right-side>.cards {
  position: relative;
  width: 100%;
  justify-content: space-evenly;
  padding: 10%;
  top: -150px;
  z-index: 500;
}

main>#home>.right-side>.cards>.food-card {
  width: 80%;
  height: 100px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  box-shadow: 2px 2px 10px #9d9a9a;
}

main>#home>.right-side>.cards>.food-card>img {
  max-width: 40%;
  max-height: 100%;
  margin: 10px 0px 10px 10px;
}

main>#home>.right-side>.cards>.food-card>.text>ul>li {
  list-style-type: none;
  display: inline;
  font-size: 16px;
}

main>#home>.right-side>.cards>.food-card>.text {
  margin: auto;
  font-size: 25px;
}

main>#catogres {
  text-align: center;
  margin-top: -150px;
}

main>#catogres>.catogry-cards {
  width: 100%;
  margin: 50px 0 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
justify-content: space-around;
}

main>#catogres>.catogry-cards>.card {
  background-color: #ffffff;
  height: 200px;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  width: 200px;
  border-radius: 20%;
  box-shadow: 2px 2px 10px #9d9a9a;
}

main>#catogres>.catogry-cards>.card>img {
  width: 70%;
  height: 60%;
  background-color: var(--lite);
  border-radius: 80%;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
}

main>#spical-dish {
  width: 100%;
  position: relative;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  overflow-y: scroll;
  height: 800px;
  
}

.wrapper>.inner {
  transition: all 1s ease-in-out;
  justify-content: center;
}

.wrapper>.inner>.card {
  border-radius: 30px;
  margin: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 10px;
}

.wrapper>.inner>.card>i {
  float: right;
}

.wrapper>.inner>.card>i:first-child {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #39db4a;
  color: #ffffff;
  width: 40px;
  height: 30px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 0px 20px 0px 40px;
  z-index: 54254;
  transition: width 0.5s;
}

.wrapper>.inner>.card>i:first-child:hover {
  text-align: right;
  width: 200px;
}

.card>img {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  display: block;
  width: 17.5em;
  transition: all 5s;
  margin: auto;
}

.card>img:hover {
  transform: rotate(360deg);
}

.btn-container {
  display: none;
}
main>#testmon {
  width: 100%;
  position: relative;
}

main>#testmon>.left-side {
  width: 100%;
  height: 50%;
  margin-top: 50px;
}

main>#testmon>.left-side>img {
 max-width: 100%;
  position: absolute;
  bottom: 50%;
  z-index: 1;
}

main>#testmon>.left-side>div {
  position: relative;
  width: 480px;
  height: 500px;
  top: 75px;
  background-color: #39db4a;
  border-radius: 50% 50% 15px 15px;
  margin: 47% auto 0 auto;
}

main>#testmon>.left-side>i {
  position: absolute;
 top: 10%;
  left: -18px;
  font-size: 50px;
  z-index: 2;
}

main>#testmon>.left-side>i:first-child {
  left: 85%;
}

main>#testmon>.right-side {
  max-width: 100%;
  height: 100%;
  padding: 0 auto;
}

main>#testmon>.right-side>.cusomerfeed {
  display: grid;
  grid-template-columns: 50% 50%;
}

main>#testmon>.right-side>p:not(.cusomerfeed p) {
  margin: 100px 0;
}

main>#testmon>.right-side>.cusomerfeed>.imges>img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: 2px solid white;
  margin-left: -10px;
  z-index: 2;
}

main>#testmon>.right-side>.cusomerfeed>.imges>img:hover {
  margin: 0;
  width: 70px;
  height: 70px;
}

main>#story {
  padding: 50px 0;
  display: grid;
}

main>#story>.left-side>p {
  margin: 50px 0;
}

main>#story>.left-side>button {
  padding: 10px;
  background-color: var(--green);
  border: none;
  border-radius: 50px;
  width: 120px;
  color: #ffffff;
  font-size: large;
  margin-left: 20px;
}

main>#story>.right-side>.servies-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  row-gap: 20px;
}

main>#story>.right-side>.servies-cards>.card {
  max-width: 100%;
  margin: 20px;
  padding: 20px 10px 0 0;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #9d9a9a;
  color: var(--green);
}

main>#story>.right-side>.servies-cards>.card img {
  max-width: 80%;
  margin: auto;
}

footer>.up {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;

  margin: 20px;
}

footer>.up>.logo>p {
  margin: 10px;
}
footer h5{
  font-size: 30px;
  color: #000000;
  text-transform: capitalize;
}
footer>.up>ul {
  line-height: 40px;
  color: #6e6e6e;
  list-style: none;
}

footer>.up>ul li:first-child {
  font-weight: bold;
  font-size: 20px;
  color: #000000;

}

footer>.up>ul>li:hover {
  color: var(--lite);
}

footer>.dowen {
  display: flex;
  margin-top: 40px;
  text-align: center;
}

footer>.dowen>i {
  margin-left: 20px;
  color: #ffffff;
  background-color: var(--lite);
  height: 30px;
  width: 40px;
  border-radius: 50%;
  margin-right: 5px;
  padding-top: 10px;
  margin-top: 40px;
}

footer>.dowen>p {
  margin: 50px;
}

footer>.dowen>p:hover {
  border-bottom: 2px solid black;
}

footer>.dowen>i:hover {
  background-color: var(--green);
}